<section>
	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
		<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-white-248 dark:border-red-900">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<img class="py-5 mx-auto w-40 h-30" src="upap.png" alt="logo">  
				<form class="space-y-4 md:space-y-6" action="#">
					<div>
						<label for="email" class="block mb-2 text-sm font-medium text-red-900">Correo electrónico</label>
						<input type="email" name="email" id="email" class="bg-red-100 border border-red-900 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="juanperez@gmail.com" required="">
					</div>
					<div>
						<label for="password" class="block mb-2 text-sm font-medium text-red-900">Contraseña</label>
						<input type="password" name="password" id="password" placeholder="••••••••••••" class="bg-red-100 border border-red-900 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
					</div>
					<div class="flex items-center justify-between">
						<div class="flex items-start">
							<div class="flex items-center h-5">
							  <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4">
							</div>
							<div class="ml-3 text-sm">
							  <label for="remember" class="text-red-900">Permanezca conectado</label>
							</div>
						</div>
						<a href="#" class="text-red-900 text-sm font-medium hover:underline">Olvidó la contraseña?</a>
					</div>
					<button type="submit" class="border border-red-900 w-full text-red-900 hover:bg-red-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Iniciar sesión</button>
				</form>

				<div class="text-red-900 pt-7 text-sm flex flex-wrap gap-10 gap-y-1 justify-center items-center">
					<a class="underline hover:no-underline" href="">Ayuda</a>
					<a class="underline hover:no-underline" href="">Política de privacidad</a>
					<a class="underline hover:no-underline" href="">Aviso de cookie</a>
					<a class="underline hover:no-underline" href="">Política de uso aceptable</a>
					<a class="underline hover:no-underline" href="">Facebook</a>					
				</div>
				
		</div>
	</div>
  </section>